body {
    margin: 0;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.section1 {
    background-image: url("images/donation5.jpg");
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;



}

.section1-div {
    text-align: center;
    color: aliceblue;
    padding-top: 240px;
    padding-left: 30%;
    padding-right: 30%;


}

.download-button {
    background-color: rgb(238, 81, 81);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
    color: aliceblue;
    font-size: 1rem;


}




.section2 {
    padding-bottom: 50px;
}

.section2-div {
    text-align: center;

    padding-top: 50px;
    padding-left: 30%;
    padding-right: 30%;

}

.flexible-box {
    display: flex;
    padding-left: 35%;


}

.box1 {
    padding: 20px;

    text-align: center;
    border-radius: 10px;
    background-color: rgb(228, 225, 225);
    margin: 30px;
    color: rgb(58, 59, 59);
    font-size: 1.2rem;
}

.box2 {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(228, 225, 225);
    margin: 30px;
    color: rgb(58, 59, 59);
    font-size: 1.2rem;
}

.box3 {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(228, 225, 225);
    margin: 30px;
    color: rgb(58, 59, 59);
    font-size: 1.2rem;
    ;

}


.box4 {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(228, 225, 225);
    margin: 30px;
    color: rgb(58, 59, 59);
    font-size: 1.2rem;
}

.text-clr1 {
    font-size: 2rem;
}

.text-clr2 {
    color: rgb(58, 59, 59);
    font-size: 1rem;
}

.another-amo {
    text-align: center;

}

hr {
    width: 40%;
    height: 3px;
    background-color: rgb(160, 159, 159);
    margin-top: 40px;
}

.donate {
    background-color: rgb(238, 81, 81);
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
    color: aliceblue;
    font-size: 1rem;

}




.section3 {
    padding-top: 50px;
}

.donate-plan {
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}


.plan-shows {
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
}

.food {
    background-color: rgb(241, 205, 222);
    padding: 30px;
    border-radius: 5px;
    margin: 2%;
    color: rgb(65, 67, 67);

}

.education {
    background-color: rgb(205, 238, 241);
    padding: 30px;
    border-radius: 5px;
    margin: 2%;
    color: rgb(65, 67, 67);

}

.shelter {
    background-color: rgb(213, 239, 191);
    padding: 30px;
    border-radius: 5px;
    margin: 2%;
    color: rgb(65, 67, 67);

}